<div data-controller="conditional-enabled" data-conditional-enabled-check-value-value="transliterated">
  <div class="row mb-3">
    <div class="col-md-4">
      <%= @form.select :type, type_choices, label: "Type:", html_options: { data: {action: 'conditional-enabled#enable', 'conditional-enabled-target' => "checkInput"} } %>
    </div>
  </div>
  <%= @form.text_field :transliteration_standard, label: "Transliteration standard:", class: 'mb-3', data: { 'conditional-enabled-target' => "conditionalInput" } %>
  <div class="row mb-3">
    <div class="col-md-4">
      <%= @form.select :language_code, language_choices, label: "Language:" %>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-4">
    <%= @form.select :script_code, script_choices, label: "Script:" %>
  </div>
</div>
<%= @form.text_field :value_at, label: "URL:", class: 'mb-3' %>
<%= @form.text_field :display_label, label: "Display label:", class: 'mb-3' %>
<%= @form.text_field :value, label: "Value:", class: 'mb-3' %>
<div class="row">
  <h6>Structured titles:</h6>
  <%= @form.fields_for :structured_values do |structured_value_form| %>
    <%= render(Drag::TargetComponent.new(title_index: params[:id], key: structured_value_form.field_name(:drag, index: nil))) do %>
      <div class="row mb-2">
        <div class="col-md-6">
          <%= structured_value_form.text_field :value, label: "Value:" %>
        </div>      
        <div class="col-md-4">
          <%= structured_value_form.select :type, structured_type_choices, label: "Type:" %>
        </div>
        <div class="col-md-2 mt-2 hstack gap-2">
          <%= structured_value_form.delete_button("Delete") %>
          <% if @form.object.structured_values.size > 1 %>
            <%= render(Drag::SourceComponent.new(title_index: params[:id], key: structured_value_form.field_name(:drag, index: nil))) %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="row">
  <div class="col-auto">
    <%= @form.add_button(:add_structured_title) { 'Add structured title' } %>
  </div>
</div>
