<turbo-frame id="<%= frame_id %>">
  <div class="card" 
    draggable="true" 
    data-controller="drag-field" 
    data-action="dragstart->drag-field#dragstart dragover->drag-field#dragover dragenter->drag-field#dragenter drop->drag-field#drop"
    data-drag-field-field-value="title"
    data-drag-field-index-value="<%= @index %>">
    <% if title.primary_status %>
      <div class="card-header">
        Primary title
      </div>
    <% end %>
    
    <div class="card-body">
      <%# TODO: Move each of below into a component. %>
      <% if title.value %>
        <dl class="row mb-0">
          <dt class="col-sm-2">Title</dt>
          <dd class="col-sm-10"><%= title.value %></dd>
        </dl>
      <% end %>
      <% if title.structured_values.present? %>
        <dl class="row mb-0">
          <% title.structured_values.each do |structured_value| %>
            <dt class="col-sm-2"><%= structured_value.type.titlecase %></dt>
            <dd class="col-sm-10"><%= structured_value.value %></dd>
          <% end %>
        </dl>
      <% end %>
      <%# TODO: Display parallel title -- title.parallel_titles.size %>
      <div class="hstack gap-2">
        <%= button_to "Edit", edit_description_title_path(@description_id, @index), method: :get, class: "btn btn-outline-primary btn-sm" %>
        <%= button_to "Delete", description_title_path(@description_id, @index), method: :delete, data: { 'turbo-frame' => "titleFrame" }, class: "btn btn-outline-primary btn-sm" %>
      </div>
    </div>

    <%= form_with url: move_description_title_path(@description_id, @index), method: :post, data: { 'drag-field-target' => "moveForm", 'turbo-frame' => "titleFrame" } do |form| %>
      <%= form.hidden_field :from_index %>
    <% end %>
  </div>
</turbo-frame>