<turbo-frame id="<%= frame_id %>">
  <%= render(Drag::TargetComponent.new(title_index: @index)) do %>
    <div class="card">    
      <div class="card-header">
        <div class="row">
          <div class="col-md-11">
            <% if title.primary_status %>
              Primary title
            <% end %>
          </div>
          <div class="col-md-1">
            <%= render(Drag::SourceComponent.new(title_index: @index)) %>
          </div>
        </div>
      </div>
      
      <div class="card-body">
        <%= render(TitleComponents::NestedShowComponent.new(title_model: title)) %>
        <% if title.parallel_titles.present? %>
          <div class="mb-3">
            <% title.parallel_titles.each do |parallel_title| %>
              <div class="card">
                <div class="card-body">
                  <%= render(TitleComponents::NestedShowComponent.new(title_model: parallel_title)) %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if title.type %>
          <dl class="row mb-0">
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10"><%= title.type %></dd>
          </dl>      
        <% end %>
        <div class="hstack gap-2">
          <%= button_to "Edit", edit_description_title_path(@description_id, @index), method: :get, class: "btn btn-outline-primary btn-sm" %>
          <%= button_to "Delete", description_title_path(@description_id, @index), method: :delete, data: { 'turbo-frame' => "titleFrame" }, class: "btn btn-outline-primary btn-sm" %>
        </div>
      </div>

      <%= form_with url: move_description_title_path(@description_id, @index), method: :post, data: { 'drag-target-target' => "moveForm", 'turbo-frame' => "titleFrame" } do |form| %>
        <%= form.hidden_field :from_index %>
      <% end %>
    </div>
  <% end %>
</turbo-frame>