<turbo-frame id="addTitleFrame">
  <div class="card mt-2 mb-4">
    <div class="card-header">Add</div>
    <div class="card-body">
      <%= form_with model: @form, url: description_titles_path(@form.description_id), method: :post, data: { 'turbo-frame' => "titleFrame" } do |form| %>
        <%= form.label :id, "Value:" %>
        <%= form.text_field :value %>
        <%= form.submit "Save" %>
      <% end %>
      <%= button_to "Cancel", description_titles_path(@form.description_id), class: "btn btn-outline-primary btn-sm", method: :get %>
    </div>
  </div>

</turbo-frame>